DATABASE_URL=postgres://user:password@localhost:5432/databaseName?sslmode=disable

PORT=8000

# Storage driver to use for media storage. Options: local, r2
STORAGE_DRIVER=r2

R2_ACCOUNT_ID=your-account-id
R2_ACCESS_KEY_ID=your-access-key-id
R2_SECRET_ACCESS_KEY=your-secret-access-key
R2_BUCKET=your-bucket-name
R2_PUBLIC_BASE_URL=https://your-account-id.r2.dev

# token name: R2 Account Token Veterans

# token value: your-token-value

# jurisdiction-specific endpoint for s3 clients:
# https://your-account-id.r2.cloudflarestorage.com