# Compilados
*.exe
*.dll
*.so
*.dylib

# Binarios
*.out

# Carpeta de binarios (si la usas)
bin/

# Variables de entorno
.env

# Archivos almacenados
storage/

# Configuración del editor
.vscode/
.idea/

# macOS
.DS_Store